// .App {
//   text-align: center;
// }
//
// .App-logo {
//   height: 40vmin;
//   pointer-events: none;
// }
//
// @media (prefers-reduced-motion: no-preference) {
//   .App-logo {
//     animation: App-logo-spin infinite 20s linear;
//   }
// }
//
// .App-header {
//   background-color: #282c34;
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   font-size: calc(10px + 2vmin);
//   color: #fff;
// }
//
// .App-link {
//   color: #61dafb;
// }
//
// @keyframes App-logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

$color-black: #000;
$color-white: #fff;
$color-main: #2E3134;
$color-link: #0069D2;

$bp-sml: 600px;
$bp-med: 800px;
$bp-lrg: 1000px;
$bp-xlg: 1224px;

body {
  margin: 0;
  padding: 20px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

#root {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 1248px;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  text-align: left;
  @media (min-width: $bp-sml) {
    flex-flow: row wrap;
    justify-content: space-around;
  }
}

.card {
  margin: 12px 0;
  padding: 0;
  flex: 0 1 auto;
  width: 100%;
  height: auto;
  min-height: 280px;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba($color-black,.5);
  overflow: hidden;
  transition: box-shadow 0.35s ease;
  &:hover {
    box-shadow: 0 7px 12px 0 rgba($color-main,0.3);
    .card-link {
      opacity: 1;
      visibility: visible;
    }
  }
  @media (min-width: $bp-sml) {
    width: 50%;
    width: calc(50% - 24px);
  }
  @media (min-width: $bp-med) {
    width: 33.33%;
    width: calc(33.33% - 24px);
  }
  @media (min-width: $bp-lrg) {
    width: 25%;
    width: calc(25% - 24px);
  }



  .card-image {
    position: relative;
    background-color: $color-black;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
    .card-image-thumb {
      width: 100%;
      height: auto;
      opacity: 0;
    }
    .card-playlist {
      display: none;
    }
    @at-root .card[data-type="playlist"] .card-image .card-playlist {
      display: flex;
      flex-direction: column;
      flex-wrap: norwrap;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: auto;
      width: 112px;
      height: 100%;
      background: rgba(#000C28,0.54);
      color: $color-white;
      text-align: center;
      p {
        font-size: 10px;
        letter-spacing: 0.3px;
        line-height: 12px;
        text-transform: uppercase;
        &:after {
            content: '';
            display: block;
            margin: 9px auto 0;
            padding: 0;
            width: 24px;
            height: 24px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            background-image: url('/icons/icn_playlist.svg');
        }
        strong {
          display: block;
          font-weight: 800;
          font-size: 24px;
          letter-spacing: 0;
          line-height: 30px;
        }
      }
    }
  }

  .card-text {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    margin: 0;
    padding: 15px 16px;
  }
    .card-title {
      margin: 0;
      padding: 0;
      flex: 1 0 auto;
      width: calc(100% - 36px);
      font-size: 16px;
      color: $color-main;
      letter-spacing: 0.3px;
      text-align: left;
      line-height: 18px;
    }
    .card-avatar {
      width: 28ox;
      height: 28px;
    }
    .card-stats {
      display: none;
      margin: 8px 0;
      padding: 0;
      width: 100%;
      height: auto;
      flex: 1 0 auto;
      font-size: 10px;
      color: $color-main;
      letter-spacing: 0.3px;
      line-height: 12px;

      @at-root .card[data-type="workout"] .card-stats {
        display: block;
      }
      span {
        margin-right: 5px;
        &:before {
          content: '';
          display: inline-block;
          vertical-align: middle;
          margin-right: 4px;
          width: 12px;
          height: 12px;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: cover;
          }
      }
      &-time {
        &:before {
          background-image: url('/icons/icn_timer_line.svg');
        }
      }
      &-distance {
        &:before {
          background-image: url('/icons/icn_distance_line.svg');
        }
      }
    }
    .card-link {
      position: relative;
      font-size: 14px;
      color: $color-link;
      letter-spacing: 0.5px;
      line-height: 16px;
      text-decoration: none;
      text-transform: uppercase;
      opacity: 0;
      visibility: hidden;
      transition: all 0.35s ease 0.35s;
      z-index: 1;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        display: inline-block;
        width: 0;
        height: 1px;
        background: $color-link;
        z-index: -1;
        transition: width 0.35s ease-in;
      }
      &:hover,
      &:focus {
        &:after {
          width: 100%;
        }
      }
    }

}
